#DOT Supabase Configuration 
NEXT_PUBLIC_SUPABASE_URL=https://umifcvgdbcpqzgjwuoqc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtaWZjdmdkYmNwcXpnand1b3FjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExODg4NjgsImV4cCI6MjA4Njc2NDg2OH0.9BIlv8IWXTrLKQ8kkfKrmilLNLOQnNGpuVvLqlQ80pg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtaWZjdmdkYmNwcXpnand1b3FjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE4ODg2OCwiZXhwIjoyMDg2NzY0ODY4fQ.xr4g2EOOqUJl5oVtPKcXJKOxvWwkS5DPavRkJjVaJIA